altair
anyio
appdirs
appnope
asgiref
attrs
backcall
beautifulsoup4
certifi
cffi
charset-normalizer
click
contextvars
cryptography
debugpy
decorator
entrypoints
fastjsonschema
frozendict
h11
html5lib
htmltools
idna
immutables
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
linkify-it-py
lxml
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
mdurl
multitasking
nbformat
nest-asyncio
numpy
packaging
pandas
pandas-datareader
parso
pexpect
pickleshare
pkgutil_resolve_name
plotly
prompt-toolkit
psutil
ptyprocess
pycparser
Pygments
pyrsistent
python-dateutil
python-multipart
pytz
pyzmq
requests
shiny
shinywidgets
six
sniffio
soupsieve
starlette
tenacity
toolz
tornado
traitlets
typing_extensions
uc-micro-py
urllib3
uvicorn
wcwidth
webencodings
websockets
widgetsnbextension
yahooquery
zipp
